

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: url(../img/bg.jpeg) no-repeat center/cover;
    height: 100vh;
    font-family: sans-serif;
}

section{
    width: 22em;
    height: 15em;
    background: #F62B54;
    border-radius: 1em;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2em 5em 3em 2em;
    color: #fff;
}

div{
    width: 1em;
    height: 1em;
    background-color: #fff;
    border-radius: 50em;
    position: absolute;
    z-index: 1;
    text-align: center;
    right: 7%;
    top: 9%;
}

a{
    text-decoration: none;
    color: red;
}

h1{
    text-decoration: underline;
    line-height: 3em;
    font-size: 2em;
}

p{
    font-size: 1.2em;
}
